apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-bridge-cache
  namespace: default
  labels:
    app: kafka-bridge
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
